* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 375px;
  height: 6000px;
  background: #f7f7f9;
}

#home_presentation {
  background-image: url("images/header-shapes mobile.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
}

.short-presentation {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.p {
  width: 327px;
  height: 146px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h4 {
  width: 117px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#contact ul {
  font-family: Poppins, sans-serif;
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

#nav {
  display: flex;
  justify-content: space-between;
}

.hamburger {
  width: 45px;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#nav nav:hover {
  cursor: pointer;
}

.internal-link {
  display: flex;
}

.logo {
  width: 76px;
  height: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
  justify-content: space-between;
}

.home {
  position: relative;
  width: 1440px;
  height: 5125px;
}

.presentation {
  width: 327px;
  height: 144px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

#about_myself {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#about_myself h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}

.skills {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 0;
  overflow: auto;
}

.skills li {
  background-color: #ebebfe;
  border-radius: 25%;
  margin-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #6070ff;
  list-style: none;
  flex: 1;
  text-align: center;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: #396df2 solid 1px;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  align-self: baseline;
  width: 130px;
  height: 48px;
}

#my_resume:hover {
  background-color: #f7f7f9;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 24px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

.spec_name {
  display: flex;
  justify-content: space-between;
}

.spec_name div {
  margin-right: 24px;
}

.spec_name div img {
  vertical-align: middle;
}

#programmes {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
}

.frameworks-skills {
  display: flex;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
  margin-bottom: 0;
  margin-top: 0;
}

.pro {
  list-style: none;
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 5px;
}

#my_skills p {
  align-self: flex-start;
  margin: 15px 10% 0 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.data-inf {
  grid-column: 1 / span 1;
  margin-right: 0;
}

#profile_link h2 {
  margin-bottom: 0;
}

#profile_link ul {
  margin-top: 8px;
}

#presentation {
  margin-bottom: 0;
}

.languages_skills {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.frameworks {
  position: absolute;
  height: 24px;
  left: 12px;
  right: 78px;
  top: calc(50% - 24px / 2);
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.item1 {
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  gap: 12px;
  width: 330px;
  height: 650px;
  background: #fff;
  border: #dfe1e6 solid 1px;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item2 {
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  gap: 12px;
  width: 330px;
  height: 690px;
  background: #fff;
  border: #dfe1e6 solid 1px;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item3 {
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  gap: 12px;
  width: 330px;
  height: 650px;
  background: #fff;
  border: #dfe1e6 solid 1px;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.item4 {
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;
  gap: 12px;
  width: 330px;
  height: 710px;
  background: #fff;
  border: #dfe1e6 solid 1px;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#works h1 {
  /* Project Title */

  width: 350px;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;

  /* or 138% */

  /* Neutrals/N800 */
  color: #172b4d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#works p {
  /* Primary Text */

  /* Body / 3 */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;

  /* or 160% */

  /* Neutrals/N600 */
  color: #344563;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  width: 295px;
  height: 36px;
}

#works button {
  width: 80px;
  height: 25px;

  /* Button / Small */
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  /* identical to box height, or 133% */
  letter-spacing: 0.03em;
  border: none;
  border-radius: 8px;
  background: #ebebff;

  /* Primary/B400 */
  color: #6070ff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

#works h4 {
  /* Normal Button/Secondary/Enabled */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 130px;
  height: 48px;
  left: 0;
  top: calc(50% - 48px / 2);

  /* Primary/B400 */
  border: 1px solid #6070ff;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

/* form section */
.form-section {
  background-color: #fff;
  background-image: url("assets/images/contact-form/contactme.png");
  background-repeat: no-repeat;
  flex-direction: column;
  justify-content: center;
  height: 779 px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.contact-title {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
}

.contact-parag {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin: auto 10px;
  padding: 0 10px;
  margin-bottom: 50px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

.contact input {
  font-family: Poppins, sans-serif;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  padding: 15px 10px;
  border-radius: 12px;
  border: none;
}

.contact textarea {
  font-family: Poppins, sans-serif;
  font-size: 15px;
  line-height: 24px;
  color: #201e1e;
  padding: 15px;
  border-radius: 12px;
  border: none;
}
